/* div {
    background-color: lightgreen;
} */

body {
    background-image: url("../image/header.jpg");
    /* background-image: url("../image/header01.jpg"); */
    /* 背景画像を繰り返し表示しません。 */
    background-repeat: no-repeat;
    /* 背景画像のサイズを調整のため正方形に整形します。 */
    background-size: cover;
    /* background-size: 100% 100%; */
    /* background: rgba(255, 0, 0, 0.3); */
    /* 背景の不透明度 */
    opacity: 0.6;
}


/* @media(max-width:600px) {
    div {
        background-color: pink;
    }
} */